html, body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: Hacked;
    src: url(HACKED_Title.ttf);
}
@font-face {
    font-family: PixelOperator;
    src: url(PixelOperatorMono-Bold.ttf);
}


body>header, main, body>footer {
    position: relative;
    padding: 2.5vw;
}
header{
    height: 80vh;
    background-color: #F5FAFC;
    border: 2.5vw solid white;
    margin-bottom: -6vw;
    z-index: 3;
}
header>h2{
    margin: 0;
    margin-top: 10vh;
    text-align: center;
    font-family: PixelOperator, monospace;
    font-size: 4.5em;
    font-style: italic;
    text-transform: uppercase;
}
header>h2>strong{
    display: inline-block;
    line-height: 60px;
    padding: 0 5px;
    margin: 0 -5px;
    background-color: black;
    color: white;
    font-style: initial;
}
h1{
    margin: 0;
    margin-top: 2vh;
    text-align: center;
    font-family: Hacked, sans-serif;
    font-size: 6em;
    font-weight: normal;
}

main {
    background-color: black;
    color: white;
    z-index: 10;
}
main>*{
    position: relative;
    z-index: 10;
}
h2{
    margin-left: 2.5vw;
}

#whiteborder::before,#whiteborder::after{
    content: "";
    position: fixed;
    width: 2.5vw;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.05);
    z-index: 20;
}
#whiteborder::before{
    left: 0;
}
#whiteborder::after{
    right: 0;
}
#svg_v{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    overflow: visible;
}


/* COMPARATOR */

#comparator_intro{
    position: relative;
    background-image: url(img/pattern_white.jpg);
    padding: 20px 2.5vw;
    padding-top: 80px;
    text-align: center;
    border-bottom: 3px dashed #797979;
}
#comparator_intro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: url(img/paper-cut-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#comparator_intro>h3 {
    display: inline-block;
    margin: 0;
    color: black;
}
#comparator_intro>span {
    margin: 0 10px;
    color: #4b4b4b;
    font-weight: bold;
}

#comparator{
    width: 100%;
    /*font-size: 0;*/
    text-align: center;
    background-image: url(img/pattern_grey.jpg);
    overflow: hidden;
}
#comparator>div{
    position: relative;
    display: inline-block;
}
#comparator>div>h3{
    margin: 1vh 0;
}
#comparator>div>img{
    width: 100%;
    min-width: max-content;
}
#comparator>div>span{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
    cursor: ew-resize;
    -webkit-filter: invert(1);
   filter: invert(1);
}
#comparator>div:nth-child(1)>span{
    background-image: url(img/Watch_Dogs_logo_font.png);
}
#comparator>div:nth-child(2)>span{
    background-image: url(img/Watch_Dogs_logo_original.png);
}