html, body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: Hacked;
    src: url(HACKED_Title.ttf);
}
@font-face {
    font-family: PixelOperatorBold;
    src: url(PixelOperatorMono-Bold.ttf);
}
@font-face {
    font-family: PixelOperator;
    src: url(PixelOperatorMono.ttf);
}


body>header, main, body>footer {
    position: relative;
    padding: 2.5vw;
}
body>header{
    height: 80vh;
    background-color: #F5FAFC;
    border: 2.5vw solid white;
    margin-bottom: -6vw;
    z-index: 3;
}
body>header>h2{
    margin: 0;
    margin-top: 10vh;
    text-align: center;
    font-family: PixelOperatorBold, monospace;
    font-size: 4.5em;
    font-style: italic;
    text-transform: uppercase;
}
body>header>h2>strong{
    display: inline-block;
    line-height: 60px;
    padding: 0 5px;
    margin: 0 -5px;
    background-color: black;
    color: white;
    font-style: initial;
}
h1{
    margin: 0;
    margin-top: 2vh;
    text-align: center;
    font-family: Hacked, sans-serif;
    font-size: 6em;
    font-weight: normal;
}

main {
    background-color: black;
    color: white;
    z-index: 10;
}
main>*{
    position: relative;
    z-index: 10;
}
h2{
    font-family: PixelOperatorBold;
    margin-left: 2.5vw;
}

#whiteborder::before,#whiteborder::after{
    content: "";
    position: fixed;
    width: 2.5vw;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.1);
    z-index: 20;
}
#whiteborder::before{
    left: 0;
}
#whiteborder::after{
    right: 0;
}
#svg_v{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    overflow: visible;
}

article>h2{
    display: inline-block;
  background-color: black;  
}
article>h2::after{
    content: "_";
    color: black;
}
article:hover>h2::after{
    color: white;
    animation-name: underscoreBlink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes underscoreBlink {
    0% {color: white;}
    50% {color: white;}
    51% {color: black;}
    100% {color: black;}
}

/*1 OVERVIEW */
article:nth-of-type(1)>p{
    text-align: center;
}
article:nth-of-type(1) img {
    max-width: 100%;
}

/*2 VR */


/*3 COMPARATOR */

article:nth-of-type(3){
    position: relative;
    background-image: url(img/pattern_white.jpg);
    margin-bottom: 20px;
}
article:nth-of-type(3)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: url(img/paper-cut-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
article:nth-of-type(3)::after{
    content: "";
    position: absolute;
    top: 99.5%;
    left: 0;
    right: 0;
    height: 426px;
    background-image: url(img/blue_pixelgradient.png);
    background-repeat: repeat-x;
    z-index: 10;
}

article:nth-of-type(3)>h2{
    position: relative;
    top: 80px;
    z-index: 15;
}

article:nth-of-type(3)>header{
    position: relative;
    padding: 0 2.5vw;
    padding-top: 150px;
    padding-bottom: 45px;
    margin-top: -50px;
    /*border-bottom: 10px dashed #F5FAFC;*/
    text-align: center;
    background-image: url(img/SCREAMER_11.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
article:nth-of-type(3)>header::before,article:nth-of-type(3)>header>span{
    position: absolute;
    bottom: -40px;
    font-family: PixelOperatorBold;
    font-size: 12em;
    opacity: 0.5;
    z-index: 9;
}
article:nth-of-type(3)>header::before{
    content: "Scanner";
    left: -10px;
}
article:nth-of-type(3)>header>span{
    right: -10px;
}

article:nth-of-type(3)>header>h3 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-family: PixelOperatorBold;
    font-size: 2em;
    color: black;
    background-color: white;
    z-index: 11;
}
@media screen and (min-width: 1749px) {/*notMobile*/
    article:nth-of-type(3)>header>br{
        display: none;
    }
}
@media screen and (max-width: 1749px) {/*Mobile*/
    article:nth-of-type(3) > header > h3, article:nth-of-type(3) > header > img {
        margin: 2px 0!important;
    }
    #comparator>div:nth-of-type(2)>span>img{
        display: none;
    }
    article:nth-of-type(3)>header::before,article:nth-of-type(3)>header>span{
        display: none;
    }
}
article:nth-of-type(3)>header>img {
    position: relative;
    height: 100px;
    margin: -40px 10px;
    z-index: 11;
}

#comparator{
    position: relative;
    width: 100%;
    /*font-size: 0;*/
    text-align: center;
    background-color: #12cffe;
    overflow: hidden;
    z-index: 9;
}
#comparator>div{
    position: relative;
    display: inline-block;
}
#comparator>div>h3{
    margin: 1vh 0;
}
#comparator>div>img{
    width: 100%;
    min-width: max-content;
    max-width: fit-content;
}
#comparator>div>span{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: white;/*<-blue #0fbeff invert*/ /*rgba(255,255,255,0.9);*/
    background-repeat: no-repeat;
    /*-webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);*/
    cursor: ew-resize;
    -webkit-filter: invert(1);
   filter: invert(1);
}
#comparator>div:nth-child(1)>span{
    background-image: url(img/Watch_Dogs_logo_font.png);
}
#comparator>div:nth-child(2)>span{
    background-image: url(img/Watch_Dogs_logo_original.png);
}
#comparator>div>span>img{
    position: absolute;
    bottom: 2px;
    left: -20%;
    right: 20%;
    width: 140%;
    overflow: visible;
    -webkit-box-shadow: 0 -10px 10px -10px #12cffe;
    box-shadow: 0 -10px 10px -10px #12cffe;
}

/*4 REUSES*/

article:nth-of-type(4)>div:first-of-type>div{
    text-align: center!important;
}
.twitter-tweet{
    display: inline-block!important;
}
article:nth-of-type(4)>div:first-of-type>div>blockquote{
    display: inline-block;
    padding: 20px;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 5px;
}
article:nth-of-type(4)>div:first-of-type>div>blockquote>p{
    margin: 0;
    margin-bottom: 10px;
}